<%- include('../views/partials/header') %>
<main>
 <div class="ui segment">
   <h1>Svenska temperaturer</h1>

   <div class="ui segment">
    <select class="ui select" id="drpStations">
      <option value="">hej</option>
      <option value="">hej</option>
      <option value="">hej</option>
    </select>
    <button class="ui primary button">
      view
    </button>
  </div>

   <p>This is visual of templating through EJS</p>  
 </div>





</main>


<footer>
  <%- include('../views/partials/footer'); %>
</footer>

  
</body> 
  </html>